* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--banner-color: #7133cc;
	--btn-back-color: #2ba2e8;
	--btn-text-color: #ffffff;
    --secondary-text-color: #B595E5;
}

/* utility classes */
.btn {
	background-color: var(--btn-back-color);
	color: var(--btn-text-color);
	outline: none;
	border: none;
	padding: 10px 30px;
	font-size: 20px;
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.28);
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.28);
    cursor: pointer;
}

.text-center {
    text-align: center;
}
/* ----------------------------------------- */

.container {
	max-width: 1124px;
	margin: 30px auto;
}

.header-container::before {
	content: "";
	height: 700px;
	background-color: var(--banner-color);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
    gap: 65px;
    margin-bottom: 50px;
}

.nav-items{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.nav-item{
    text-decoration: none;
    color: var(--secondary-text-color);
}

.nav-active{
    border-bottom: 1px solid #C465DC;
    color: #21B1EC;
}

.hero-container{
    display: flex;
    gap: 50px;
}

.hero-left, .hero-right{
    width: 50%;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.hero-left>h1{
    color: #fff;
    font-size: 60px;
}

.hero-left>p{
    color: var(--secondary-text-color);
}

.hero-right>img{
    width: 100%;
}

.section1{
    display: flex;
    gap: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.section1-left, .section1-right{
    width: 50%;
}

.section1-left>img{
    width: 100%;
}

.section1-bottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.benefit{
    display: flex;
    gap: 20px;
}

.benefit>img{
    padding-top: 10px;
    height: 30px;
}

.benefit-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.benefit-content-wrapper>h2{
    font-weight: 900;
}

.benefit-content-wrapper>p{
    padding-right: 100px;
}

.section1-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section1-top>h1{
    font-size: 40px;
    font-weight: 900;
}

.share-icon1{
    filter: brightness(0) saturate(100%) invert(74%) sepia(84%) saturate(3323%) hue-rotate(335deg) brightness(104%) contrast(90%);
}

.share-icon2{
    filter: brightness(0) saturate(100%) invert(74%) sepia(24%) saturate(1047%) hue-rotate(49deg) brightness(90%) contrast(98%);
}

.share-icon3{
    filter: brightness(0) saturate(100%) invert(48%) sepia(100%) saturate(2215%) hue-rotate(193deg) brightness(109%) contrast(90%);
}

.section-features{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.feature-header{
    font-size: 49px;
    width: 55%;
    margin: 0px auto;
}

.feature-items{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.feature-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.feature-img{
    width: 150px;
    height: 150px;
    padding: 40px;
    border-radius: 50%;
}

.feature-img1{
    background-color: #F4E6E6;
}

.feature-img2{
    background-color: #FDEDE3;
}

.feature-img3{
    background-color: #E7EFEF;
}

.feature-img4{
    background-color: #F0E2F3;
}

.feature-title{
    font-weight: 900;
    font-size: 20px;
}

.feature-item:first-child, .feature-item:nth-child(3){
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 2px 3px 20px -4px #a38c6f;
}

footer::before{
    content: "";
    width: 100%;
    height: 280px;
    background-color: var(--banner-color);
    position: absolute;
    left: 0;
    z-index: -1;

}

.footer-container{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.social-links{
    display: flex;
    gap: 10px;
}
